!!! 5
html.no-js(lang='en')
  //
    <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title tbd - tests
    meta(name='author', content='Aaron Powell')
    meta(name='viewport', content='width=1024, user-scalable=no')

    link(rel='stylesheet', href='/static/jasmine.css')
    link(rel='stylesheet', href='/kendo/css/kendo.common.css')
    link(rel='stylesheet', href='/kendo/css/kendo.default.css')

  body.deck-container
    != body

    script(src='/static/jquery-1.7.1.min.js')
    script(src='/kendo/js/kendo.all.js')
    script(src='/src/kendo.bootstrapper.js')
    script(src='/static/jasmine.js')
    script(src='/static/jasmine-html.js')
    script(src='/specs.js')
    script
        jasmine.getEnv().addReporter(new jasmine.TrivialReporter());
        jasmine.getEnv().execute();
